%h1 Welcome to Railstagram!

%posts
  
  -# .container(class="js-masonry")
  .container
    - @posts.each do |post|
      %div(class="item" data-masonry-options='{ "columnWidth": 500, "itemSelector": ".item" }')
        %ul
          %li
            = filepicker_image_tag post.filepicker_url, w: 450, h: 450, fit: 'clip'
          %li
            = post.caption

